.description {
  margin: 36px 50px 0px 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1b1b1c;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}
