.drawings-slideshow {
  margin-top: 43px;

  /**
   * Make large enough to accomodate the biggest drawing (and avoid the vertical scrollbar changing whenever the drawing changes).
   *
   * Use `min-height` instead of `height` in case a drawing is bigger than this.
   */
  min-height: 1200px;

  animation: fade-in 2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.drawing {
  width: 800px;

  /**
   * Set opacity to 0 to prevent flickering of drawings when switching drawings.
   */
  opacity: 0;

  animation: fade-in-and-out 6s;
}

@keyframes fade-in-and-out {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
