.title {
  margin-top: 113px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.title-text {
  margin: 0px 552px -14px 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  font-weight: 700;
  color: black;

  user-select: none;
  -webkit-user-select: none;
}

.RNA {
  font-size: 41px;
  font-weight: 800;
}

.canvas {
  margin-left: 1px;

  font-family: "Corinthia", cursive;
  font-size: 61px;
  font-weight: 700;
}

.two-point0 {
  margin-left: 10px;

  font-size: 38px;
  font-weight: 800;

  color: cyan;

  animation: rainbow-text 4s linear infinite;
}

@keyframes rainbow-text {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.underline {
  margin-top: 11px;

  width: 1045px;
  height: 1px;

  background-color: hsla(240, 15%, 75.1%, 0.96);
}
